<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ blog.name }} - {{ blog.description }}</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{ themepath }}assets/css/style.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ blog.name }} feed" href="/feed/">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
    <div class="header">
        <div class="logo">
            {% if blog.ts.logo.url %}
            <a href="/"><img src="{{  blog.ts.logo.url }}" alt="{{ blog.name }}"></a>
            {% else%}
            <a href="/">{{ blog.name }}</a>
            {% endif%}
            
        </div>
    </div>
    
    <div class="content row">
        <div class="col-xs-3 col-sm-3 col-md-2 col">
            &nbsp;
            <hr>
            <ul class="menu">
                <li><a {{ isHome() ? 'class="active"' }} href="/">Home</a></li>
                <li><a {{ isAbout() ? 'class="active"' }} href="/about">About</a></li>
                <li><a {{ isArchive() ? 'class="active"' }}href="/archive">Archive</a></li>
            </ul>
            <hr>
            
            <ul class="menu">
                {% for link in blog.links %}
                <li><a href="{{ link.link }}">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-8 col">
            &nbsp;
            <hr>
            
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col">
            Categories
            <hr>
            <ul class="menu">
                {% for category in categories %}
                <li><a {{ isCat(category) ? 'class="active"' }} href="/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="footer">
        &copy; Powered by <a href="http://www.writus.com">Writus</a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ themepath }}assets/js/imgLiquid-min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $(".article-image").imgLiquid();
        
        });
    </script>

  </body>
</html>